/******************************************************/
/* TEXTS */
/******************************************************/

.heading-primary {
    font-size: 2.8rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 600;
  color: #000;
  line-height: 1;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.logo-footer {
    font-size: 2.8rem;
    font-weight: 700;
    color: #000;
}

.large-p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    max-width: 350px;
}

.medium-p {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 500;
    max-width: 350px;
    color: #333;
}

.small-p {
    color: #ddd;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
}

/******************************************************/
/* BUTTONS */
/******************************************************/

.back-btn:link,
.back-btn:focus,
.back-btn:visited {
    display: flex; 
    align-items: center;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.back-btn:hover,
.back-btn:active {
    color: #555
}
