* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "dm sans", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    overflow: hidden; /* impede scroll */
}

/******************************************************/
/* GRID PRINCIPAL */
/******************************************************/

.container {
    display: grid;
    grid-template-rows: 140px 1fr 100px;
    height: 100vh;
}

/******************************************************/
/* HEADER */
/******************************************************/

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
}

.nav-logo {
    text-decoration: none;
    color: #000;
    height: 100%;
    border: 1px solid #000;
    padding: 1.6rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.header .nav-header {
    height: 100%;
    grid-column: 2 / 5; 
    display: flex;
}

.nav-brand .medium-p {
    margin-top: 0.4rem;
}

.nav-header a:link,
.nav-header a:focus,
.nav-header a:visited {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 1.6rem;
    display: flex;
    align-items: center;
}

.nav-header a:hover,
.nav-header a:active {
    background-color: #ddd;
}

/******************************************************/
/* BODY */
/******************************************************/

.main {
    display: flex;
    align-items: stretch;
    height: auto;
    overflow: hidden;
}

.large-btn:link,
.large-btn:visited {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.grid-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label-btn {
    position: absolute;
    bottom: 0;
    left: 0;         /* Opcional: Alinha o item à borda esquerda (ajuste conforme necessário) */
    width: 100%;
    background: #fff;
    padding: 2.4rem;
    box-sizing: border-box;
    z-index: 10;
}

.large-btn:hover .label-btn,
.large-btn:focus .label-btn,
.large-btn:active .label-btn {
    background-color: #ddd;
}

/******************************************************/
/* FOOTER */
/******************************************************/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 1.6rem;
}

.footer-logo {
    max-width: 580px;
    display: flex;
    gap: 2.4rem;
}

.footer-logo .heading-primary{
    color: #fff;
}

.nav-footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-footer a:link,
.nav-footer a:focus,
.nav-footer a:visited {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.nav-footer a:hover,
.nav-footer a:active {
    color: #ddd
}

/******************************************************/
/* BODY CONTENT */
/******************************************************/

.main-body {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.body-header {
    padding: 1.6rem;
}

.body-header .back-btn {
      margin-bottom: 2.4rem;
}

.body-header h2 {
    margin-bottom: 1.6rem;
}

.body-header .large-p {
    margin-bottom: 1.6rem;
}

/******************************************************/
/* RESPONSIVIDADE */
/******************************************************/

@media (max-width: 900px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .header .nav {
    justify-content: center;
    gap: 1.5rem;
  }

  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-height: 650px) {
  .header {
    grid-template-rows: 100px;
  }
  .footer {
    font-size: 0.65rem;
  }
  .label {
    font-size: 0.8rem;
  }
}