* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "dm sans", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  overflow: hidden; /* impede scroll */
}

/******************************************************/
/* GRID PRINCIPAL */
/******************************************************/

.container {
  display: grid;
  grid-template-rows: 140px 1fr 100px;
  height: 100vh;
}

/******************************************************/
/* TEXTS */
/******************************************************/

.heading-primary {
  font-size: 2.8rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 600;
  color: #000;
  line-height: 1;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.logo-footer {
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
}

.large-p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  max-width: 350px;
}

.medium-p {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  max-width: 350px;
  color: #333;
}

.small-p {
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

/******************************************************/
/* BUTTONS */
/******************************************************/

.back-btn:link,
.back-btn:focus,
.back-btn:visited {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-btn:hover,
.back-btn:active {
  color: #555;
}

/******************************************************/
/* HEADER */
/******************************************************/

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
}

.nav-logo {
  text-decoration: none;
  color: #000;
  height: 100%;
  border: 1px solid #000;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .nav-header {
  height: 100%;
  grid-column: 2 / 5;
  display: flex;
}

.nav-brand .medium-p {
  margin-top: 0.4rem;
}

.nav-header a:link,
.nav-header a:focus,
.nav-header a:visited {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 1.6rem;
  display: flex;
  align-items: center;
}

.nav-header a:hover,
.nav-header a:active {
  background-color: #ddd;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  height: 100%;
}

.icon-mobile-nav {
  height: 3.2rem;
  width: 3.2rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/******************************************************/
/* BODY */
/******************************************************/

.main {
  display: flex;
  align-items: stretch;
  height: auto;
  overflow: hidden;
}

.large-btn:link,
.large-btn:visited {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label-btn {
  position: absolute;
  bottom: 0;
  left: 0; /* Opcional: Alinha o item à borda esquerda (ajuste conforme necessário) */
  width: 100%;
  background: #fff;
  padding: 2.4rem;
  box-sizing: border-box;
  z-index: 10;
}

.large-btn:hover .label-btn,
.large-btn:focus .label-btn,
.large-btn:active .label-btn {
  background-color: #ddd;
}

/******************************************************/
/* FOOTER */
/******************************************************/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 1.6rem;
}

.footer-logo {
  max-width: 580px;
  display: flex;
  gap: 2.4rem;
}

.footer-logo .heading-primary {
  color: #fff;
}

.nav-footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-footer a:link,
.nav-footer a:focus,
.nav-footer a:visited {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.nav-footer a:hover,
.nav-footer a:active {
  color: #ddd;
}

/******************************************************/
/* BODY CONTENT */
/******************************************************/

.main-body {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.body-header {
  padding: 1.6rem;
}

.body-header .back-btn {
  margin-bottom: 2.4rem;
}

.body-header h2 {
  margin-bottom: 1.6rem;
}

.body-header .large-p {
  margin-bottom: 1.6rem;
}

/******************************************************/
/*BELOW 960px (Small desktops) */
/******************************************************/

@media (max-width: 60em) {
  body {
    overflow: scroll;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .large-btn:link,
  .large-btn:visited {
    height: 50vh;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2.4rem 1.6rem;
  }

  .main-body {
    height: 100vh;
  }

  /*MOBILE MENU */

  .header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    border: 1px solid #000;
  }

  .nav-logo {
    border-right: 1px solid #000;
    border-top: none;
    border-left: none;
    border-bottom: none;
  }

  .header .nav-header {
    height: 100%;
    grid-column: 5 / 1;
    display: flex;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* transform: translateX(100%); */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 999;
    transition: all 0.75s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav-header {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    /* transform: translateX(0); */
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/******************************************************/
/*BELOW 620px (Small desktops) */
/******************************************************/

@media (max-width: 39em) {
  .footer {
    gap: 4rem;
    padding: 2.4rem 1.6rem;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    max-width: 360px;
  }

  .footer-logo .small-p {
    text-align: center;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
}

/******************************************************/
/*BELOW 520px (Small desktops) */
/******************************************************/

@media (max-width: 32em) {
  .nav-brand .medium-p {
    display: none;
  }
}
